<h2>Leave a comment</h2>
<div class="row">
   <div class="col-md-6">
<form action="/comments-create" method="POST" enctype="multipart/form-data">
 
<div class="form-group">
  <label> Text:
    <textarea type="text" name="text"cols="30" rows="4" class="form-control"> </textarea>
  </label>
  </div>
  <br>

  <button type="submit" class="btn btn-primary"> Add</button>
</form>
</div>
</div>