<h2>Leave a comment</h2>
<div class="row">
  <div class="col-md-6">
    <form
      action="/{{dbItem._id}}/comments-create"
      method="POST"
    >

      <div class="form-group">
        <label>
          Text:
          <input type="text" name="text"class="form-control" />
        </label>
      </div>
      <br />

      <button type="submit" class="btn btn-primary"> Add</button>
    </form>
  </div>
</div>